<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show</title>
  </head>
  <body>
    <a href="/paintings">Dashbooard</a><br />
    <a href="/logout">logout</a><br />
    <a href="/paintings/new">Add painting</a>

    <h1>Welcome {{session.first_name}}</h1>
    <h3>Painting Name: {{painting.title}}</h3>
    <h3>Added by: {{painting.first_name}}</h3>
    <h3>Description: {{painting.description}}</h3>
    <h3>Price: {{painting.price}}</h3>
  </body>
</html>
