<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show</title>
  </head>
  <body>
    <h1>Welcome {{session.first_name}}</h1>
    <h3>Added by: {{car.first_name}}</h3>
    <h3>Make: {{car.make}}</h3>
    <h3>Model: {{car.model}}</h3>
    <h3>Year: {{car.year}}</h3>
    <h3>Number of Service: {{car.number_of_service}}</h3>
  </body>
</html>
